{{!-- Parameters:
settings: {Array<GeneratorSettings>}
cssClass: {undefined | String}
--}}
<section class="{{cssClass}}">
  <ol class="word-generator-unstyled-list">
    {{#each settings as |setting index|}}
      <li class="word-generator-setting-entry">
        <input 
          class="word-generator-input-textfield"
          type="text"
          id="{{setting.id}}"
          placeholder="{{localize "mcwg.placeholder.generatorName"}}"
          value="{{setting.name}}"
        />
      </li>
    {{/each}}
  </ol>
</section>