{{!-- Parameters:
settings: {Array<GeneratorSettings>}
cssClass: {undefined | String}
--}}
<form class="{{cssClass}}">
  <div class="word-generator-flex-container-h">
    {{!-- Creation control --}}
    <button
      class="word-generator-square-button light"
      type="button"
      title="{{localize "wg.generator.create"}}"
      id="create-generator"
      >
      <i class="fas fa-plus"></i>
    </button>
    <div class="word-generator-flex-grow"></div>
    {{!-- Sorting controls --}}
    <button
      class="word-generator-square-button light"
      type="button"
      title="{{localize "wg.generator.sortAlphaDesc"}}"
      id="move-sort-alpha-desc"
      >
      <i class="fas fa-sort-alpha-down"></i>
    </button>
    <button
      class="word-generator-square-button light"
      type="button"
      title="{{localize "wg.generator.sortAlphaAsc"}}"
      id="move-sort-alpha-asc"
      >
      <i class="fas fa-sort-alpha-up"></i>
    </button>
  </div>
  <ul class="word-generator-unstyled-list">
    {{#each settings as |setting index|}}
      {{> "modules/word-generator/template/word-generator-list-item.hbs" listItem=setting}}
    {{/each}}
  </ul>
</form>