{{!--
presenter: WgChainItemPresenter
TEMPLATES: TEMPLATES
--}}
<div
  class="wg-flex row grow wg-dark wg-padding-3 wg-height-header"
  id="{{presenter.id}}-chain-dependency"
  >
  {{!-- Identity --}}
  <div class="wg-flex grow" style="font-size: 1.2rem;">
    {{!-- Icon --}}
    <div class="wg-square wg-flex center">{{{presenter.icon}}}</div>
    {{!-- Name --}}
    <span class="wg-flex middle grow wg-margin-l-6">{{presenter.name}}</span>
  </div>
  {{!-- Quick Actions --}}
  <div class="wg-flex row wg-height-header">
    <a class="wg-square wg-flex center wg-interactible" id="{{presenter.id}}-remove">
      <i class="fas fa-trash"></i>
    </a>
  </div>
</div>
