{{!-- Params:
TEMPLATES: TEMPLATES
presenter: WordGeneratorListPresenter
--}}
{{!-- Folders --}}
<ul class="wg-unstyled-list">
  {{#each presenter.folders as |presenter index|}}
  <li>
    {{#with presenter.template as |template|}}
    {{> (template) presenter=presenter TEMPLATES=../../TEMPLATES }}
    {{/with}}
  </li>
  {{/each}}
</ul>
{{!-- Generators --}}
<ul class="wg-unstyled-list">
  {{#each presenter.generators as |presenter index|}}
  <li>
    {{#with presenter.template as |template|}}
    {{> (template) presenter=presenter TEMPLATES=../../TEMPLATES }}
    {{/with}}
  </li>
  {{/each}}
</ul>
{{!-- Chains --}}
<ul class="wg-unstyled-list">
  {{#each presenter.chains as |presenter index|}}
  <li>
    {{#with presenter.template as |template|}}
    {{> (template) presenter=presenter TEMPLATES=../../TEMPLATES }}
    {{/with}}
  </li>
  {{/each}}
</ul>
