{{!-- Params:
presenter: WordGeneratorListPresenter
--}}
{{!-- Folders --}}
<ul class="wg-unstyled-list">
  {{#each presenter.folders as |presenter index|}}
  <li>
    {{#with presenter.template as |template|}}
    {{> (template) presenter=presenter }}
    {{/with}}
  </li>
  {{/each}}
</ul>
{{!-- Generators --}}
<ul class="wg-unstyled-list">
  {{#each presenter.generators as |presenter index|}}
  <li>
    {{#with presenter.template as |template|}}
    {{> (template) presenter=presenter }}
    {{/with}}
  </li>
  {{/each}}
</ul>