$c-bg-lightest: #fffff0;
$c-bg-lighter: #484848;
$c-bg-light: #383838;
$c-bg-dark: #2e2e2e;
$c-bg-darker: #232323;
$c-bg-darkest: #1d1d1d;

$c-text-light: #d5d5d5;
$c-text-dark: #1e1e1e;

$c-border-light-1: var(--color-border-light-1);
$c-border-light-2: var(--color-border-light-2);
$c-border-dark-1: var(--color-border-dark-1);
$c-border-dark-2: var(--color-border-dark-2);
$c-border-dark-3: var(--color-border-dark-3);
$c-border-dark-4: var(--color-border-dark-4);
$c-border-dark-5: var(--color-border-dark-5);
$c-border-highlight: var(--color-border-highlight);

$c-shadow-primary: var(--color-shadow-primary);
$c-shadow-highlight: var(--color-shadow-highlight);

.word-generator {
  &-application-form {
    display: grid;
    grid-template-columns: minmax(25rem, 1fr) 2fr;
    gap: 0;
    overflow-y: hidden;

    > div {
      overflow-y: hidden;
    }
  }

  &-unstyled-list {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
  }

  &-setting-entry {
    display: flex;
    background-color: rgba(0, 0, 0, 0.102);
  }
  
  &-card {
    margin-bottom: 0.5rem;
    border-radius: 0.3rem;
    border-color: #8d8d8d;
    border-width: 1px;
    border-style: solid;
    border-top-width: 6px;
  }

  &-controls-bar {
    background-color: $c-bg-dark;

    label {
      color: $c-text-light;
    }

    input {
      background-color: $c-text-light;
    }

    a.word-generator-button.active {
      background-color: #e5afaf;
    }
  }

  &-input-textfield {
    display: inline-block;
    min-height: 1.8rem;
  }

  &-square {
    aspect-ratio: 1/1;
  }

  &-square-button {
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    max-width: 1.8rem;
    min-width: 1.8rem;
    margin: 3px;
    border: solid 1px #7a7971;
    border-radius: 5px;
    cursor: pointer;

    &.flat-v {
      height: 1.5rem;
    }

    &.light {
      background-color: transparent;
      border: none;
    }

    &.danger {
      background-color: #b762626b;
      border: solid 1px #9f393969;
    }

    &.fill-h {
      min-height: 100%;
      height: 100%;
    }

    & > i {
      margin: 0;
    }

    &.active {
      background-color: #b7626228;
      border: solid 1px #b7626228;
    }
  }

  &-move-controls {
    display: flex;
    flex-direction: column;
    max-width: 3rem;
    border-right: solid 1px #8d8d8d;
    height: 100%;

    &-container {
      display: inline-block;
    }
  }

  &-grab-handle {
    display: inline-flex;
    flex-grow: 1;
    min-width: 1.8rem;
    min-height: 1.8rem;
    align-items: center;
    justify-content: center;
    cursor: row-resize;
  }

  &-flex {
    display: flex;

    &.row {
      flex-direction: row;
    }
    &.column {
      flex-direction: column;
    }
    &.align-start {
      justify-content: flex-start;
      align-items: flex-start;
    }
    &.align-end {
      justify-content: flex-end;
      align-items: flex-end;
    }
    &.align-center {
      align-items: center;
    }
    &.grow {
      flex-grow: 1;
    }
    &.center {
      justify-content: center;
      align-items: center;
    }
    &.middle {
      align-items: center;
    }
  }

  &-results-textarea {
    display: block;
    width: 100%;
    height: 100%;
  }

  &-scrollable {
    overflow-y: scroll;
  }

  &-generated-word-input {
    min-height: 1.8rem;
  }

  &-info-bubble {
    position: absolute;
    display: inline-block;
    text-align: center;
    border-radius: 1.8rem;
    background-color: rgba($color: #000000, $alpha: 0.6);
    color: var(--color-text-light-highlight);
    // filter: drop-shadow(0, 0, 20px, var(--color-shadow-primary));
    // -webkit-filter: drop-shadow(0, 0, 20px, var(--color-shadow-primary));
    z-index: 6;
    padding: 0.25rem;

    &.hidden {
      display: none;
    }
  }

  &-modal {
    z-index: 99999 !important;
  }

  &-amountToGenerate {
    width: 5rem;
  }
  
  &-info {
    width: 1.8rem;
    max-width: 1.8rem;
    height: 1.8rem;
    max-height: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

a.word-generator-button {
  background-color: $c-bg-lightest;
  color: $c-text-dark;
  border: 1px solid $c-border-light-2;
  border-radius: 3px;
  box-sizing: border-box;
  margin: 4px;

  .word-generator-button-icon {
    margin-right: 4px;
  }
}

i.stackable {
  position: relative;
}

i.stacked {
  position: absolute;
  top: -4px;
  right: -4px;
  font-size: 0.5rem;
  padding: 1px;
  border-radius: 4px;
}

.wg {

  // Composable styles

  &-dark {
    background-color: $c-bg-darkest;
    color: $c-text-light;
  }

  &-light {
    background-color: $c-bg-lightest;
    color: $c-text-dark;
  }

  &-border-box {
    border: 1px solid $c-border-light-2;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 4px;
  }

  &-interactible {
    &:hover {
      text-shadow: 0 0 8px $c-shadow-primary;

      i.stacked {
        color: $c-shadow-primary;
      }
    }

    &.wg-border-box:hover {
      filter: drop-shadow(0 0 4px $c-shadow-primary);
    }
  }

  &-border-shadow {
    &-t {
      box-sizing: border-box;
      border-top-style: solid;
      border-top-color: $c-border-highlight;
      border-top-width: 1px;
      margin: 5px 0 0 0;
      box-shadow: 10px 0 0 0 $c-shadow-primary;
    }
    &-r {
      box-sizing: border-box;
      border-right-style: solid;
      border-right-color: $c-border-highlight;
      border-right-width: 1px;
      margin: 0 5px 0 0;
      box-shadow: 0 10px 0 0 $c-shadow-primary;
    }
    &-b {
      box-sizing: border-box;
      border-bottom-style: solid;
      border-bottom-color: $c-border-highlight;
      border-bottom-width: 1px;
      margin: 0 0 5px 0;
      box-shadow: 0 0 10px 0 $c-shadow-primary;
    }
    &-l {
      box-sizing: border-box;
      border-left-style: solid;
      border-left-color: $c-border-highlight;
      border-left-width: 1px;
      margin: 0 0 0 5px;
      box-shadow: 0 0 0 10px $c-shadow-primary;
    }
  }

  &-square {
    aspect-ratio: 1/1;
  }

  &-pad {
    &-1 {
      padding: 1px;
    }
    &-2 {
      padding: 2px;
    }
    &-3 {
      padding: 3px;
    }
    &-6 {
      padding: 6px;
    }
  }

  // Specific element styles

  &-application {
    > section.window-content {
      margin: 0;
      padding: 0;
    }
  }

  &-content-area {
    background-color: $c-bg-dark;

    border-right-style: solid;
    border-right-color: $c-border-dark-1;
    border-right-width: 1px;

    &:last-of-type {
      border-right: none;
    }
  }

  &-folder {
    &-content {
      border-left: 6px solid $c-bg-light;
    }

    &.dragover {
      header.wg-folder {
        background-color: $c-bg-dark;
      }
    }

    header.wg-folder {
      border: 1px solid black;
      color: $c-text-light;
      background-color: $c-bg-darkest;
      height: 2.5rem;
    
      &.open {
        background-color: $c-bg-light;
      }
    
      h3 {
        margin: 0;
        border: 0;
        box-shadow: 0;
      }
    }
    
  }
}
