{{!--
TEMPLATES: TEMPLATES
presenter: OrderedListPresenter
--}}
<ol class="wg-unstyled-list">
  {{#each presenter.itemPresenters as |itemPresenter index|}}
  <li class="wg-flex row wg-dark wg-border">
    <div class="wg-flex row" style="height: 2.3rem;">
      {{!-- Move Controls --}}
      {{#with ../TEMPLATES.MOVE_CONTROLS as |template|}}
      {{> (template) 
        id=itemPresenter.id 
        enableMoveUp=itemPresenter.enableMoveUp 
        enableMoveDown=itemPresenter.enableMoveDown 
        TEMPLATES=TEMPLATES
      }}
      {{/with}}
    </div>
    {{#if ../presenter.showIndices}}
    <div class="wg-flex middle">
      {{!-- Index --}}
      <span class="wg-flex center wg-button-square">{{itemPresenter.index}}</span>
    </div>
    {{/if}}
    {{!-- Item content --}}
    {{#with itemPresenter.presenter.template as |template| }}
      {{> (template) presenter=itemPresenter.presenter TEMPLATES=../../TEMPLATES }}
    {{/with}}
  </li>
  {{/each}}
</ol>
